@page "/deleteCourseDetail/{Id:int}"
@inherits DeleteCourseCreditBase

<div class="border" style="width:50%; font-weight: bold">
    <div class="card-header text-center">
        <h4><strong>Delete Course Details</strong></h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td><a href="/listCourseDetails">Subject : @CourseDetail.SubjectName</a></td>
                </tr>
                <tr>
                    <td><a href="/listCourseDetails">Weight : @CourseDetail.SubjectWeight</a></td>
                </tr>
                <tr>
                    <td><a href="/listCourseDetails">Category : @CourseDetail.Category</a></td>
                </tr>
                <tr>
                    <td><a href="/listCourseDetails">Status : @CourseDetail.Status</a></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger btn-block" @onclick="DeleteClick" style="font-weight: bold">
            <i class="oi oi-delete">Delete</i>
        </button>  
        <a href="/listCourseDetails" class="btn btn-primary btn-block" style="font-weight: bold">
            Back to List
        </a>
    </div>
</div>



<ConfirmDelete @ref="DeleteConfirmation" ConfirmationChanged="DeleteCourseDetail" ConfirmationMessage="@($"Are you sure you want to delete {CourseDetail.SubjectName}'s detail info?")"
               ConfirmationTitle="Examm Score Delete Confirmation" /> 