@page "/deleteMidterm/{Id:int}"
@inherits DeleteMidtermBase


<div class="border" style="width:50%; font-weight: bold">
    <div class="card-header text-center">
        <h4 class="text-center"><strong>Delete MidTerm Score of @MidTerm.StudentName</strong></h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td style="font-weight: bold">Student Id    : @MidTerm.SchoolIdNumber</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Student Name  : @MidTerm.StudentName</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Subject Name  : @MidTerm.SubjectName</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Subject Score : @MidTerm.SubjectScore</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Grade         : @MidTerm.SubjectScoreInLetter</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <button type="button" style="font-weight: bold" class="btn btn-danger btn-block" @onclick="DeleteClick">
            <i class="oi oi-delete" style="font-weight: bold">Delete</i>
        </button>
        <button type="button" style="font-weight: bold" class="btn btn-primary btn-block" @onclick="Cancel">            
            Back to List
        </button>
    </div>
</div>


<ConfirmDelete @ref="DeleteConfirmation" ConfirmationChanged="DeleteMidTerm" ConfirmationMessage="@($"Are you sure you want to delete {MidTerm.StudentName}'s midTerm's score?")"
               ConfirmationTitle="MidTerm Score Delete Confirmation" />
